.main-show-stations{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr;
  }
  .main-station{
    width: 100%;
    display: flex;
    justify-content: space-between;
    overflow-x: hidden;
    margin: 10px;
  }
  

  .main-station-img{
    width: 100px;
    height: 100px; 
    object-fit: cover;
    margin-right: 15px;
  }
  .main-station-info{
    width: 100%;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
  }

 
