@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('./components/css/Category.css');
@import url('./components/css/Footer.css');
@import url('./components/css/Login.css');
@import url('./components/css/Main.css');
@import url('./components/css/Navbar.css');
@import url('./components/css/Profile.css');
@import url('./components/css/Radio.css');
@import url('./components/css/Sidebar.css');
@import url('./components/css/Stations.css');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #0788D9;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #00518f;
}

@media screen and (min-width:1020px) {
  .nav-logo{
    width: 25%;
    max-width: 300px;
    margin-right:40px ;
  }
  .nav-btn{
    color: black;
    font-weight: 600;
    text-decoration: none;
    margin: 0 10px;
    /* display: block; */
  }
  .nav-btn:hover{
    border-bottom: 2px solid #0788D9;
    background: none;  
    padding: 0;
    border-radius: 1px;
  
  }
  .nav-btn-more{
    border: 2px solid transparent;
    font-weight: 600;
    padding: 10px;
  }
  .nav-btn-more:hover{
    border: 2px solid #0788D9;
    transition: 100ms;
  }
  .main-show-stations{
    grid-template-columns: repeat(2,1fr);
  }
}